.top.body {
  height: 3000px;
  width: 100vw;
  &__image {
    box-shadow:0 3px 3px 3px rgba(0, 0, 0, 0.2)inset;
    background-image: url("/assets/store.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    &__box {
      margin: 0 100px;
      padding: 10px;
    }
  }
  &__notice {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 120px;
    padding: 50px 0 5px;
    &__main {
      font-size: 27px;
      text-align: center;
      margin-bottom: 20px;
      font-weight: bold;
    }
    &__select {
      text-align: center;
      a {
        font-size: 15px;
        border-radius: 13px;
        padding: 8px 10px;
        background-color: rgb(245, 245, 245);
        cursor: pointer;
      }
    }
  }
  &__new {
    background-color: rgb(245, 245, 245);
    height: 2425px;
    &__item {
      padding-top: 30px;
      width: 1020px;
      margin: 0 auto;
      height: calc(100% - 30px);
      &__box {
        display: flex;
        justify-content: space-between;
        &__category {
          padding: 10px;
          font-weight: bold;
          font-size: 22px;
        }
        &__more {
          cursor: pointer;
          & a {
            color: rgb(0, 149, 238);
            text-decoration: none;
          }
        }
      }
      &__list {
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
        &__show {
          width: 18%;
          height: 250px;
          margin: 10px;
          outline: solid 1px lightcyan;
          box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.2);
          position: relative;
          cursor: pointer;
          & a{
            z-index: 10;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
          &__image {
            width: 100%;
            height: 73%;
            position: relative;
            p {
              font-size: 14px;
              width: 40%;
              background-color: rgba(0, 0, 0, 0.4);
              padding: 3px 0 3px 5px;
              border-radius: 0 15px 15px 0;
              color: white;
              position: absolute;
              top: 140px;
            }
          }
          &__name {
            padding: 10px;
            line-height: 1.6rem;
            font-size: 0.8rem;
            width: calc(100% - 20px);
            height: calc(27% - 20px);
            background-color: rgb(255, 255, 255);
            &__opa {
              width: 40%;
              height: 55%;
              background-color: rgb(255, 255, 255);
              position: relative;
              bottom: 60%;
              left: 60%;
              opacity: 0.9;
            }
          }
        }
        &__show:hover {
          outline: solid 2px rgb(0, 149, 238);
        }

      }
    }
  }
}