.top.body
  .top.body__image
    .top.body__image__box
  .top.body__notice
    .top.body__notice__main
      人気のカテゴリー
    .top.body__notice__select
      %a レディース
      %a メンズ
      %a 家電
      %a おもちゃ
  .top.body__new
    .top.body__new__item
      .top.body__new__item__box
        .top.body__new__item__box__category
          レディース新着アイテム
        .top.body__new__item__box__more
          もっと見る ＞
      .top.body__new__item__list
        .top.body__new__item__list__show
          .top.body__new__item__list__show__image
            %p ¥990,000
          .top.body__new__item__list__show__name
            ふくとまるは仲良しこよしでお休み中
            .top.body__new__item__list__show__name__opa
        .top.body__new__item__list__show
          .top.body__new__item__list__show__image
            %p ¥990,000
          .top.body__new__item__list__show__name
            ふくとまる
        .top.body__new__item__list__show
          .top.body__new__item__list__show__image
            %p ¥990,000
          .top.body__new__item__list__show__name
            ふくとまる
        .top.body__new__item__list__show
          .top.body__new__item__list__show__image
            %p ¥990,000
          .top.body__new__item__list__show__name
            ふくとまる
        .top.body__new__item__list__show
          .top.body__new__item__list__show__image
            %p ¥990,000
          .top.body__new__item__list__show__name
            ふくとまる
        .top.body__new__item__list__show
          .top.body__new__item__list__show__image
            %p ¥990,000
          .top.body__new__item__list__show__name
            ふくとまる
        .top.body__new__item__list__show
          .top.body__new__item__list__show__image
            %p ¥990,000
          .top.body__new__item__list__show__name
            ふくとまる
        .top.body__new__item__list__show
          .top.body__new__item__list__show__image
            %p ¥990,000
          .top.body__new__item__list__show__name
            ふくとまる
        .top.body__new__item__list__show
          .top.body__new__item__list__show__image
            %p ¥990,000
          .top.body__new__item__list__show__name
            ふくとまる
        .top.body__new__item__list__show
          .top.body__new__item__list__show__image
            %p ¥990,000
          .top.body__new__item__list__show__name
            ふくとまる

