.wrapper
  .top.header
    .top.header__box
      .top.header__box__upper
        .top.header__box__upper__title
          = image_tag "fmarket_logo_red.svg", size: '130x36', alt: "Mercari"
        .top.header__box__upper__form
          .top.header__box__upper__form__field
            = form_for "" do |f|
              = f.text_field :content, class: 'top.header__box__upper__form__field', placeholder: '何かお探しですか？', id: "form__box"
          .top.header__box__upper__form__point
            %button.fas.fa-search-minus
          .top.header__box__upper__form__icon
      .top.header__box__below
        .top.header__box__below__search
          .top.header__box__below__search__category
            %i.fas.fa-bars
            %a カテゴリーから探す
            %i.fas.fa-tags
            %a ブランドから探す
        .top.header__box__below__users
          .top.header__box__below__users__member
            .top.header__box__below__users__member__left
              新規会員登録
            .top.header__box__below__users__member__right
              ログイン
  .top.syuppin
    %p出品
    %i.fas.fa-camera