.wrapper
  .top.header__box__below
    .top.header__box__below__search
      .top.header__box__below__search__category
        %i.fas.fa-bars
        %a カテゴリーから探す
        %i.fas.fa-tags
        %a ブランドから探す