.default-container

.item-box-container
  %h1.item-name モナリザの微笑
  .item-box-container__item-main-content
    .item-box-container__item-main-content-clearfix
      .item-box-container__item-main-content-clearfix__image

      .item-box-container__item-main-content-clearfix__table
        %table{border: "1", style: "border-collapse: collapse"}
          %tr
            %th 出品者名
            %td ルーブル美術館
          %tr
            %th カテゴリー
            %td おもちゃ・ホビー・グッズ>美術品>絵画/タペストリ
          %tr
            %th ブランド
            %td
          %tr
            %th 商品の状態
            %td
          %tr
            %th 配送料の負担
            %td 送料込み（出品者負担）
          %tr
            %th 発送元地域
            %td 東京都
          %tr
            %th 発送日の目安
            %td ２〜３日で発送

    .item-price-box
      %span.item-price-box__bold ¥99,999,999
      %span.item-price-box__tax (税込)
      %span.item-price-box__shipping-fee 送料込み

      %a.item-buy-btn 購入画面に進む


    .item-description
      .item-description__inner
        %p 諸般の事情により名作を売ることになりました。館長直々のサインとスタンプが押印された証明書がついております
    .item-description__btn-left
    .item-description__btn-right

  .item-detail-message
    .item-detail-message__content
      %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    %button.item-button.item-button-like{"data-ga" => "element", "data-ga-category" => "LIKE", "data-ga-label" => "unlike", "data-id" => "m16206739217", "data-toggle" => "like", :name => "like!", :type => "button"}
    %i.icon-like-border
    %span いいね!
    %span.fade-in-down

    %a.item-button.item-button-report.clearfix{"data-modal" => "report-item", "data-open" => "modal", :href => ""}
    %i.icon-flag
    %span 不適切な商品の報告


    -# %input{:name "item_id", :type "hidden", :value "m16206739217"}/
    -# %input{:name "redirect_url_key", :type "hidden", :value "item_detail"}/
    -# %textarea.textarea-default{:name "body", :type "text", :value ""}
    %button.btn-gray コメントする



.item.button-container-clearfix

.nav-item-link-prev-next-clearfix
  %li.nav-item-link-prev-next-clearfix__left
  %li.nav-item-link-prev-next-clearfix__right

.item-social-mediabox
  %li.facebook
  %li.twitter
  %li.LINE
  %li.pintest

.items-in-user-profile
  %h2.items-box-head
  %a href="#"  レオナルド・ダ・ヴィンチさんのその他の出品
  .items-box-content-clearfix

.items-in-user-profile
  %h2.items-box-head
  %a href="#"  モナリザの微笑のその他の商品
  .items-box-content-clearfix
