@mixin signup-head() {
  &__header {
    height: 128px;
    font-size: inherit;
    line-height: inherit;
    text-align: center;
    display: block;
    border-style: solid;
    border-width: 0;
    box-sizing: inherit;
    & h1 {
      display: inline-block;
      margin: 40px 0 0;
      & a {
        display: inline-block;
        width: 185px;
        height: 49px;
        margin: 0 8px 0 0;
        line-height: 49px;
        color: #0099e8;
        text-decoration: none;
        touch-action: manipulation;
        & img {
          width: 185px;
          height: 49px;
          vertical-align: middle;
        }
      }
    }
    &__nav {
      padding: 40px 0 0 44px;
      border-top: 1px solid #eee;
      display: inline-block;
      vertical-align: top;
      border-top: 1px solid #eee;
      font-size: 0;
      text-align: center;
      &__ol {
        margin: 0;
        list-style: none;
      }
    }
  }
}

@mixin input_default() {
  width: 90%;
  margin: 8px 0 0;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  min-height: 1.5em;
  outline: 0;
  font-family: inherit;
  -webkit-appearance: none;
  touch-action: manipulation;
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}

@mixin btn_default(){
  margin-top: 32px;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
  min-height: 1.5em;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
}

.devise-login-container{
  @include signup-head();
  &__main{
    display: block;
    &__container{
      background: #fff;
      width: 456px;
      margin: 0 auto;
      &__new{
        padding: 40px 64px;
        text-align: center;
        & p{
          font-size: 14px;
        }
        & a{
          display: block;
          margin: 8px 0 0;
          border: 1px solid #0099e8;
          background: #0099e8;
          color: #fff;
          line-height: 40px;
          text-decoration: none;
          touch-action: manipulation;
        }
      }
      &__sns{
        padding: 32px 64px;
        border-top: 1px solid #eee;
        &__facebook{
          background: #385185;
          color: #fff;
          position: relative;
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          border: 1px solid transparent;
          cursor: pointer;
          text-align: center;
          outline: 0;
          touch-action: manipulation;
          min-height: 1.5em;
          overflow: visible;
          & a{
            color: #fff;
            text-decoration: none;
          }
        }
        &__google{
          margin: 16px 0 0;
          background: #fff;
          border: #979797 solid 1px;
          position: relative;
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          cursor: pointer;
          text-align: center;
          outline: 0;
          touch-action: manipulation;
          min-height: 1.5em;
          overflow: visible;
          & a{
            color: #000000;
            text-decoration: none;
          }
        }
      }
      &__form{
        &__content{
          padding: 24px 64px 32px;
          &__group:first-child {
            margin-top: 0;
          }
          &__group{
            margin-top: 24px;
            & input{
              @include input_default()
            }
            & a {
              color: #0099e8;
              text-decoration: none;
              font-size: 14px;
            }
            & .checkbox-default {
              padding: 0;
              width: 24px;
              height: 20px;
            }
          }
          &__submit{
            & .btn-default{
              @include btn_default();
            }
          }
        }
      }
    }
  }
}