.wrapper {
  width: 100vw;
  .top.header {
    height: 90px;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    padding-top: 8px;
    &__box {
      width: 1020px;
      margin: 0 auto;
      &__upper {
        height: 40px;
        display: flex;
        justify-content: space-between;
        &__title {
          margin-right: 20px;
          cursor: pointer;
        }
        &__form {
          background-color: rgb(245, 245, 245);
          display: flex;
          justify-content: space-between;
          border-radius: 4px;
          border: solid 1px rgb(204, 204, 204);
          width: 100%;
          &__field {
            position: relative;
            padding: 0 0 0 3px;
            width: 100%;
            input {
              font-size: 100%;
              width: 94%;
              height: 24px;
              padding: 7px;
              background-color: rgb(245, 245, 245);
              border-style: none;
            }
            &__point {
              button {
                width: inherit;
                position: absolute;
                top: 4px;
                right: 3px;
                background-color: rgb(245, 245, 245);
                padding: 7px;
                font-size: 14px;
                border-style: none;
                cursor: pointer;
                z-index: 2;
              }
            }
          }
        }
      }
      &__below {
        margin-top: 8px;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        &__search {
          padding-top: 5px;
          width: 50%;
          &__category {
            cursor: pointer;
            i {
              color: rgb(234, 53, 45);
              font-size: 14px;
            }
            a {
              font-weight: bold;
              font-size: 13px;
              margin-right: 10px;
              text-decoration: none;
              color: #333333;
            }
            a:hover {
              color: rgb(0, 149, 238);
            }
          }
        }
        &__users {
          &__member {
            display: flex;
            font-size: 15px;
            &__left {
            }
              i {
                padding-top: 7px;
                margin-left: 20px;
                color: #333;
                cursor: pointer;
              }
              i:hover {
                color: rgb(0, 149, 238);
              }
              .mypage {
                color: #333;
                text-decoration: none;
              }
              .mypage:hover {
                color: rgb(0, 149, 238);
              }
            .newreg {
              cursor: pointer;
              font-size: 14px;
              border-radius: 6px;
              padding: 5px 10px 5px 10px;
              background-color: rgb(234, 53, 45);
              color: rgb(255, 255, 255);
              text-decoration: none;
            }
            &__right {
              margin-left: 10px;
              font-size: 14px;
              border-radius: 6px;
              padding: 5px 10px 5px 10px;
              background-color: rgb(255, 255, 255);
              -webkit-transition: all 0.3s ease;
              -moz-transition: all 0.3s ease;
              -o-transition: all 0.3s ease;
              transition: all  0.3s ease;
              border-width: 1px;
              border-style: solid;
              border-color: rgb(0, 149, 238);
              cursor: pointer;
              .login {
                color: rgb(0, 149, 238);
                text-decoration: none;
              }
            }
            &__right:hover {
              background-color: rgb(0, 149, 238);
              -webkit-transition: all 0.3s ease;
              -moz-transition: all 0.3s ease;
              -o-transition: all 0.3s ease;
              transition: all  0.3s ease;
              .login {
                color: rgb(255, 255, 255);
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
  .top.syuppin {
    position: relative;
    bottom: 30px;
    right: 30px;
    position: fixed;
    color: rgb(255, 255, 255);
    width: 160px;
    height: 140px;
    background-color: rgb(234, 53, 45);
    border-radius: 50%;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
    p {
      font-size: 22px;
      font-family: "游ゴシック体", YuGothic;
    }
    i {
      font-size: 60px;
    }
  }
}








