@mixin clearfix(){
  ::after{
    content: "";
    display: block;
    clear: both;
  }
}

.container__categories{
  background: transparent;
  margin: auto;
  display: block;
  width: 700px;
  &__visible{
    display: block;
    &__h2{
      padding: 8px 0;
      font-size: 22px;
      line-height: 1.4;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
      display: block;
    }
    &__clearfix{
      text-align: center;
      display: block;
      height: 250px;
      &__link{
        float: left;
        display: block;
        border-radius: 4px;
        min-width: 80px;
        height: 40px;
        box-shadow: 1px 1px 1px 1px rgba(14,14,14,0.0580392);
        padding: 0 30px;
        margin: 5px;
        color: #333;
        font-size: 16px;
        line-height: 40px;
        background-color: #fff;
        cursor: pointer;
        text-decoration: none;
      }
    }
    &__list{
      margin: 30px auto;
      display: block;
      background-color: #f5f5f5;
      clear: both;
      &__clearfix{
        border-radius: 4px;
        margin-bottom: 40px;
        background-color: #fff;
        &__category-name{
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          padding: 3px 30px 0 30px;
          height: 40px;
          color: #fff;
          background-color: #ea352d;
          &__h3{
            font-size: 22px;
            display: block;
            font-weight: bold;
          }
        }
        &__inner{
          padding: 24px 30px 10px 30px;
          &__p{
            font-size: 16px;
            margin-top: 8px;
            margin-bottom: 8px;
            &__link{
              color: #0099e8;
              text-decoration: none;
              cursor: pointer;
            }
          }
          &__child{
            padding-top: 15px;
            padding-bottom: 5px;
            display: block;
            &__h4{
              display: block;
              margin-block-start: 1.33em;
              margin-block-end: 1.33em;
              margin-inline-start: 0px;
              margin-inline-end: 0px;
              font-weight: bold;
            }
          }
          &__grand-child{
            @include clearfix();
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 10px;
            display: block;
            &__p {
              margin-top: 8px;
              margin-bottom: 8px;
              padding: 0 20px 0 0;
              width: 46%;
              float: left;
              &__link {
                color: #0099e8;
                text-decoration: none;
                background-color: white;
                touch-action: manipulation;
                cursor: pointer;
              }
            }
            &__name{
              display: flex;
              width: 46%;
              padding: 0 20px 0 0;
              float: left;
              &__p{
                font-size: 16px;
                margin-top: 8px;
                margin-bottom: 8px;
                &__link{
                  color: #0099e8;
                  text-decoration: none;
                  background-color: white;
                  touch-action: manipulation;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }
}