.wrapper {
  width: 100vw;
  .top.header {
    height: 90px;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    padding-top: 8px;
    &__box {
      width: 1020px;
      margin: 0 auto;
      &__upper {
        height: 40px;
        display: flex;
        justify-content: space-between;
        &__title {
          margin-right: 20px;
          cursor: pointer;
        }
        &__form {
          background-color: rgb(245, 245, 245);
          display: flex;
          justify-content: space-between;
          border-radius: 4px;
          border: solid 1px rgb(204, 204, 204);
          width: 100%;
          &__field {
            padding: 0 0 0 10px;
            width: 100%;
            input {
              width: 100%;
              padding: 7px 0;
              background-color: rgb(245, 245, 245);
              border-style: none;
            }
          }
          &__point {
            button {
              background-color: rgb(245, 245, 245);
              padding: 12px;
              font-size: 14px;
              border-style: none;
            }
          }
        }
      }
      &__below {
        margin-top: 8px;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        &__search {
          padding-top: 5px;
          width: 50%;
          &__category {
            display: flex;
            position: relative;
            cursor: pointer;
            &__genre {
              
            }
            &__brand {
              position: absolute;
              left: 150px;
            }
            i {
              color: rgb(234, 53, 45);
              font-size: 14px;
            }
            a {
              font-weight: bold;
              font-size: 13px;
              margin-right: 10px;
            }
            a:hover {
              color: rgb(0, 149, 238);
            }
          }
        }
      }
    }
  }
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.gnav {
  display: flex;
  height: 2rem;
  margin: 0 auto;
  width: 1000px;
  
    li {
    list-style: none;
    position: relative;
      li {
      height: 0;
      opacity: 0;
      overflow: hidden;
      transition: opacity .5s;
      a {
        border-top: 1px solid #eee;
      }
    }
  }
}

.gnav > li {/*親階層のみ幅を25%にする*/
  width: 25%;
}
/*全てのリスト・リンク共通*/
.gnav li a {
  // background: #001b34;
  border-right: 1px solid #eee;
  color: #524e4e;
  display: block;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
/*子階層以降共通*/
.gnav li:hover > ul > li {
  height: 2rem;
  opacity: 1;
  overflow: visible;
}
.gnav li ul li ul {
  left: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  li:hover a {
    background: rgb(204, 204, 204);
  }
}
/*一番右のメニュー*/
// .gnav > li:nth-child(5) ul li ul {
//   left: -100%;
// }
/*aの背景色を指定*/
.gnav li:hover a {/*親階層*/
  background: #fafafa;
}
// .gnav li li a {/*子階層*/
//   background: red;
// }
.gnav li li:hover a {
  background: rgb(230, 228, 228);
}
// .gnav li ul li ul li a {/*孫階層*/
//   background: #004789;
// }
.gnav li ul li ul 
// .gnav li ul li ul li ul li a {/*ひ孫階層*/
//   background: #0065c1;
// }
.gnav li ul li ul li ul li:hover a {
  // background: red;
}

.aaa:hover + {
}