.item-box-container{
  .item-name {
    font-size: 24px;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.4;
}
}

.item-box-container__item-main-content-clearfix{
  float: left;
    min-width: 300px;
    max-width: 300px;
    min-height: 375px;
    position: relative;
    margin: 0 auto;
    background: #fafafa;
}
th {
  background-color: gray;
}
.item-price-box.text-center{
}
  span.item-price.bold{
    font-weight: 600;
    margin: 0 16px 0 0;
    font-size: 50px;
  }
  span.item-tax{

  }
  span.item-shipping-fee{
  }

